﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ALAA</h1>
    <p class="lead">ALAA alışveriş websitesidir.</p>
</div>


<div id="mycarousel" class="carousel slide jumbotron" data-ride="carousel" style="margin-top:-15px">


    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="acive"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/content/images/istanbul.jpg" />
            <div class="carousel-caption>">
                <p> this is slide show </p>
            </div>
        </div>
        <div class="item ">
            <img src="/content/images/istanbul1.jpg" />
            <div class="carousel-caption>">
                <p> this is slide show </p>
            </div>
        </div>
        <div class="item ">
            <img src="/content/images/istanbul2.jpg" />
            <div class="carousel-caption>">
                <p> this is slide show </p>
            </div>
        </div>
    </div>

        <a class="left-carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon-glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">previous</span>
        </a>

        <a class="right-carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon-glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">next</span>
        </a>

</div>


    <div class="row">
        <div class="col-md-3 jumbotron">
            <h2 class="box-icon">@Html.ActionLink("Kategoriler", "Kategori", "Home")</h2>
            <ul>
                <li>Telefon</li>
                <li>Saat</li>
                <li>Bilgisayar</li>
            </ul>

            <h2>@Html.ActionLink("Markalar", "Marka", "Home")</h2>
            <ul>
                <li>Apple</li>
                <li>Samsung</li>
                <li>HTC</li>
            </ul>
        </div>
        <!---->
        <div class="col-md-9 jumbotron">

            <div class="row ">
                <div class="col-md-6">
                    <img src="~/Content/images/istanbul.jpg" /> <br />
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <h3>Istanbul 1</h3>
                            <ul>
                                <li>fiyat : 60</li>
                                <li>tarif : Istanbuldan bir kare</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="row ">
                <div class="col-md-6">
                    <img src="~/Content/images/istanbul1.jpg" />
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <h3>Istanbul 2</h3>
                            <ul>
                                <li>fiyat : 70</li>
                                <li>tarif : Istanbuldan bir kare</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="row ">
                <div class="col-md-6">
                    <img src="~/Content/images/istanbul2.jpg" />
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <h3>Istanbul 3</h3>
                            <ul>
                                <li>fiyat : 50</li>
                                <li>tarif : Istanbuldan bir kare</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
        </div>
        <!---->
    </div>


    <!--
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>


        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
    -->
